.btn {
  display: inline-block;
  padding: 1rem 0.25rem;
  background-color: red;
  color: black;
  cursor: pointer;
}

.icon-btn {
  display: inline-block;
  font-size: 0.9em;
  transition-duration: 200ms;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
}
