.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--secondary);
  border-radius: 0.25rem;
  color: var(--black);
  cursor: pointer;
}

.icon-btn {
  display: inline-block;
  font-size: 0.9em;
  transition-duration: 200ms;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
}
