.max-width-wrapper {
  position: relative;
  /* z-index: 2; */
  width: 100%;
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}

@media all and (min-width: 800px) {
  .max-width-wrapper {
    padding: 0 2rem;
  }
}

@media all and (min-width: 1024px) {
  .max-width-wrapper {
    padding: 0 4rem;
  }
}

@media all and (min-width: 1280px) {
  .extra-wide-wrapper {
    max-width: 1600px;
  }
}
